.userAvatar {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    width: 100px;
}

.friendRequests {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 100px;
  height: 200px;
  text-align: center;
}