<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{request.user.username}} - account management </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/account.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


</head>
<body>
{% include 'base.html' %}

{% block content %}
<p></p>
<h3>{{user.username}}'s account manage</h3>
<p></p>
        <div class="row">
            <div class="col-4">
                TUTAJ BEDZIE GRUPY ETC
            </div>
            <div class="col-5">
                    {% if user.avatar %}
                    Your profile picture:
                    <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" id="avatar" width="250" height="250">
                    {% else %}
                    <p>{{user.username}} does not have any avatar yet.</p>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p></p>
                        <button class="btn btn-success" type="submit">Save</button>
                    </form>
            </div>
            <div class="col-3">
                TUTAJ BEDA ZNAJOMI
            </div>
        </div>
<p></p>
{% endblock %}
</body>
</html>