<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/friends_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
{% include 'base.html' %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">
          </button>
          <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}
{% block content %}
<div class="row">
    <div class="col-4">
        <p></p>
        <div class="GroupsDiv">
            Groups to add here
        </div>
    </div>
    <div class="col-5">
        {% if request.user.is_authenticated %}
        <p></p>
        <div class="form-group" id="postForm">
            <h2>Create New Post</h2>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <p></p>
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
            {% for elem in posts %}
                <div class="container bootstrap snippets bootdey" id="postsList">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img alt="Avatar" class="img-md img-circle img-border mar-btm userAvatar" src="{{ elem.author.avatar.url }}" height="100px" width="100px">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="/user/{{elem.author.id}}"><b>
                                            {% if elem.author.first_name %}
                                            {{elem.author.first_name}}
                                            {% else %}
                                            ADMIN
                                            {% endif %}
                                        </b></a>
                                        made a post.
                                    </div>
                                    <h6 class="text-muted time">{{elem.pub_date | timesince}}</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p><b>{{elem.title}}</b><br>"{{elem.content}}"</p>
                            </div>
                            <div class="post-footer">
                                <ul class="fb-comments">
                                    <hr>
                                    {% for comment in comments %}
                                        {% if comment.post.id == elem.id %}
                                            <li>
                                              <a href="#" class="cmt-thumb">
                                                <img alt="Avatar" class="img-md img-circle img-border mar-btm commentAvatar"
                                                     src="{{ comment.author.avatar.url }}">
                                              </a>
                                                <div class="cmt-details">
                                                    <a href="{% url 'profile' user_id=comment.author.id%}">{{comment.author.first_name}} {{comment.author.last_name}}</a>
                                                    <span> {{comment.content}} </span>
                                                    <p> {{comment.pub_date | timesince }} <a href="#" class="like-link">Like</a></p>
                                                </div>
                                            </li>
                                            <hr>
                                        {% endif %}
                                    {% endfor %}

                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="avatar-wrapper">
                                                <a href="#" class="cmt-thumb">
                                                    <img alt="Avatar" class="img-md img-circle img-border mar-btm commentAvatar"
                                                        src="{{ request.user.avatar.url }}">
                                                </a>
                                            </div>
                                            <div class="form-wrapper">
                                                <div class="cmt-form">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="post_id" value="{{ elem.id }}">
                                                        {{comment_form}}
                                                        <p></p>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
        <p></p>
            {% endfor %}
        {% else %}
          <h2>Login or register to create new posts</h2>
        {% endif %}
    </div>
    <div class="col-3">
        <p></p>
        <div class="FriendsDiv">
            <h5>Suggested friend:</h5>
	    {% if request.user.is_authenticated %}
                <img alt="Avatar" class="img-md img-circle img-border mar-btm suggestedFriend"
                     src="{{ suggested_friend.avatar.url }}"><a href="/user/{{suggested_friend.id}}"> {{suggested_friend.first_name}} {{suggested_friend.last_name}}</a>
                <p></p>
                <a href="{% url 'friends'%}">More</a>
	    {% else %}
                <a href="{% url 'register' %}">Register to see suggested friends!</a>
	    {% endif %}
        </div>
        <p></p>

        <div class="FriendsDiv2">
        <h5>Your friends:</h5>
        {% if request.user.is_authenticated %}
            {% for friend in all_friends %}
            <li>
                <a href="/user/{{friend.id}}">
                    <img alt="Avatar" class="img-md img-circle img-border mar-btm friendAvatar"
                         src="{{ friend.avatar.url }}">
                    {% if friend.first_name %}
                    {{friend.first_name}} {{friend.last_name}}
                    {% else %}
                    ADMIN
                    {% endif%}
                    </a>
            </li>
	    {% endfor %}
        {% else %}
	    <a href="{% url 'register' %}">Not registered? Register now! </a>
        </div>
	{% endif %}
    </div>
</div>
{% endblock %}
</html>

