<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
</head>
<body>
{% include 'base.html' %}
<h1><center>MESSENGER BODY</center></h1>
<p></p>
<div class="row">
    <div class="col">
      <h3> Z kim pisałem ostatnio </h3> <br>
      <h3> Z kim pisałem ostatnio </h3> <br>
      <h3> Z kim pisałem ostatnio </h3> <br>
      <h3> Z kim pisałem ostatnio </h3> <br>
      <h3> Z kim pisałem ostatnio </h3> <br>
      <h3> Z kim pisałem ostatnio </h3> <br>
      <h3> Z kim pisałem ostatnio </h3> <br>
    </div>
    <div class="col-8 border-right border-left">
      <h3> Co pisałem ostatnio </h3> <br>
      <h3> Co pisałem ostatnio </h3> <br>
      <h3> Co pisałem ostatnio </h3> <br>
      <h3> Co pisałem ostatnio </h3> <br>
      <h3> Co pisałem ostatnio </h3> <br>

    </div>
    <div class="col">
      <h3> Znajomi online </h3> <br>
      <h3> Znajomi online </h3> <br>
      <h3> Znajomi online </h3> <br>
      <h3> Znajomi online </h3> <br>
      <h3> Znajomi online </h3> <br>
      <h3> Znajomi online </h3> <br>

    </div>
</div>
</body>
</html>