<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/my_profile.css'%}">
      <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>


</head>
<body>
{% include 'base.html' %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">
          </button>
          <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <div class="fb-profile-block-thumb cover-container"></div>
                <div class="profile-img">
                        {% if user.avatar %}
                        <a href="{{ user.avatar.url }}">
                        <img src="{{ user.avatar.url }}" alt="" title="">
                        {% else %}
                        <img alt="Avatar" class="img-md img-circle img-border mar-btm" src="/" height="100px" width="100px">
                        {% endif %}
                    </a>
                </div>
                <div class="profile-name">
                    {% if request.user.username == user.username %}
                    <h2>Your profile: {{user.first_name}} {{user.last_name}} ({{user.username}})</h2>
                    {% else %}
                    <h2>{{user.first_name}} {{user.last_name}} ({{user.username}})</h2>
                        {% if sent == False and user.username not in friend_list %}
                            <a href="{% url 'add_friend' user.id %}"><button class="btn btn-secondary" >Send friend request</button></a>
                        {% elif sent == True and user.username not in friend_list %}
                            <button type="submit" class="btn btn-success">Friend request already sent</button>
                        {% else %}
                        {% endif %}
                    {% endif %}
                    {% if user.username in friend_list %}
                    <a href="{% url 'remove_friend' user_id=user.id %}"><button type="submit" class="btn btn-danger">REMOVE FRIEND</button></a>
                    {% endif %}
                </div>

                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                        <ul>
                            <li><a href="/user/{{ user.id }}/timeline/" class="text-decoration-none">Timeline</a></li>
                            <li><a href="/user/{{ user.id }}/about/" class="text-decoration-none">About</a></li>
                            <li><a href="/user/{{ user.id }}/friends/" class="text-decoration-none">Friends</a></li>
                            <li><a href="#" class="text-decoration-none">Photos</a></li>
                            <li><a href="#" class="text-decoration-none">More...</a></li>
                        </ul>
                    </div>
                    <div class="block-menu">
                        <ul>
                            <li><a href="/user/{{ user.id }}/timeline/" class="text-decoration-none">Timeline</a></li>
                            <li><a href="/user/{{ user.id }}/about/" class="text-decoration-none">About</a></li>
                            <li><a href="/user/{{ user.id }}/friends/" class="text-decoration-none">Friends</a></li>
                            <li><a href="#" class="text-decoration-none">Photos</a></li>
                            <li><a href="#" class="text-decoration-none">More...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
