<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Register New Account</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
{% include "base.html" %}

{% block content %}
<div class="container py-5">
	<h1>Register new user</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}