<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.first_name}} {{user.last_name}} profile </title>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <link rel="stylesheet" href="{% static 'css/my_profile.css'%}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css'%}">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">
          </button>
          <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}

{% include 'base.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <div class="fb-profile-block-thumb cover-container"></div>
                <div class="profile-img">
                    <a href="{% url 'account' %}">
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="" title="">
                        {% else %}
                        <img alt="Avatar" class="img-md img-circle img-border mar-btm" src="" height="100px" width="100px">
                        {% endif %}
                    </a>
                </div>
                <div class="profile-name">
                    {% if request.user.username == user.username %}
                    <h2>Your profile: {{user.first_name}} {{user.last_name}}</h2>
                    {% else %}
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                        {% if sent == False and user.username not in friend_list %}
                            <a href="{% url 'add_friend' user.id %}"><button class="btn btn-secondary" >Send friend request</button></a>
                        {% elif sent == True and user.username not in friend_list %}
                            <button type="submit" class="btn btn-success">Friend request already sent</button>
                        {% else %}
                        {% endif %}
                    {% endif %}
                    {% if user.username in friend_list %}
                    <a href="{% url 'remove_friend' user_id=user.id %}"><button type="submit" class="btn btn-danger">REMOVE FRIEND</button></a>
                    {% endif %}
                </div>

                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                        <ul>
                            <li><a href="/user/{{ user.id }}/timeline/" class="text-decoration-none">Timeline</a></li>
                            <li><a href="/user/{{ user.id }}/about/" class="text-decoration-none">About</a></li>
                            <li><a href="/user/{{ user.id }}/friends/" class="text-decoration-none">Friends</a></li>
                            <li><a href="#" class="text-decoration-none">Photos</a></li>
                            <li><a href="#" class="text-decoration-none">More...</a></li>
                        </ul>
                    </div>
                    <div class="block-menu">
                        <ul>
                            <li><a href="/user/{{ user.id }}/timeline/" class="text-decoration-none">Timeline</a></li>
                            <li><a href="/user/{{ user.id }}/about/" class="text-decoration-none">About</a></li>
                            <li><a href="/user/{{ user.id }}/friends/" class="text-decoration-none">Friends</a></li>
                            <li><a href="#" class="text-decoration-none">Photos</a></li>
                            <li><a href="#" class="text-decoration-none">More...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
<p></p>
<div class="container">
    <div class="row">
        <div class="col-md-12 timelinePost">
        {% if request.user.is_authenticated %}
            {% for elem in posts %}
            <div class="container bootstrap snippets bootdey" id="postsList">
                <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                        <div class="pull-left image">
                            <img alt="Avatar" class="img-md img-circle img-border mar-btm userAvatar" src="{{ elem.author.avatar.url }}" height="100px" width="100px">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a href="/user/{{elem.author.id}}"><b>{{elem.author.first_name}}</b></a>
                                made a post.
                            </div>
                            <h6 class="text-muted time">{{elem.pub_date | timesince}}</h6>
                        </div>
                    </div>
                    <div class="post-description">
                        <p><b>{{elem.title}}</b><br>"{{elem.content}}"</p>
                    </div>
                    <div class="post-footer">
                        <ul class="fb-comments">
                            <hr>
                            {% for comment in comments %}
                                {% if comment.post.id == elem.id %}
                                    <li>
                                      <a href="#" class="cmt-thumb">
                                        <img alt="Avatar" class="img-md img-circle img-border mar-btm commentAvatar"
                                             src="{{ comment.author.avatar.url }}">
                                      </a>
                                        <div class="cmt-details">
                                            <a href="{% url 'profile' user_id=comment.author.id%}">{{comment.author.first_name}} {{comment.author.last_name}}</a>
                                            <span> {{comment.content}} </span>
                                            <p> {{comment.pub_date | timesince }} <a href="#" class="like-link">Like</a></p>
                                        </div>
                                    </li>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <p></p>
        </div>
    </div>
<p></p>
    {% endblock %}
</body>
</html>